<h1><%= @pet.name %></h1>
<p>Found <%= "at #{@pet.location}, " if @pet.location %><%= time_ago_in_words(@pet.found_at) %> ago</p>

<hr>

<%= link_to "Owner get's it back 😻", pet_path(@pet.id), method: :delete, class: "btn btn-success" %>

<%= link_to "Found a mistake?", edit_pet_path(@pet.id) %>
